@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -0.015em;
  background-color: whitesmoke;
  height: 100%;
  font-family: Poppins;
}

.navbar {
  top: 0;
  background-color: skyblue;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  z-index: 1000;
}

.logo img {
  margin: 10px;
  width: 150px;
  height: 70px;
  background-color: skyblue;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: black;
  display: block;
  margin: 0 6px;
  font-weight: 600;
  padding: 10px 20px;
  transition: 0.2s;
  border-radius: 30px;
  font-size: 18px;
}
nav ul li a:hover {
  background-color: rgb(191, 229, 245);
}

nav ul li a.active {
  background-color: rgb(61, 153, 189);
  color: #fff;
}

nav .logo {
  display: none;
}

.lines {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.lines:hover {
  background: rgb(191, 229, 245);
}
.lines div {
  width: 30px;
  height: 3px;
  background: rgb(13, 126, 171);
  margin: 6px 0;
}

main {
  margin-top: 40px;
}

.intro {
  justify-content: center;
  text-align: center;
  overflow: hidden;
  color: rgb(15, 65, 97);
  padding-top: 30px;
  padding-bottom: 30px;
}

.intro span {
  display: block;
  text-transform: uppercase;
}

.text-1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  background: whitesmoke;
  position: relative;
  animation: text 3s 1;
  margin-bottom: 5px;
  text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px 2px 0 rgb(0, 0, 0), 0px 3px 0 rgb(0, 0, 0), 0px 4px 0 rgb(0, 0, 0), 0px 12px 5px rgba(0, 0, 0, 0.3);
}

.text-2 {
  font-size: 38px;
  font-weight: 500;
  opacity: 0;
  transform: translateY(100%);
  animation: slideDownText 1s 2s forwards ease-out;
  text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px 2px 0 rgb(0, 0, 0), 0px 3px 0 rgb(0, 0, 0), 0px 4px 0 rgb(0, 0, 0), 0px 12px 5px rgba(0, 0, 0, 0.3);
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -94px;
  }
  30% {
    letter-spacing: 10px;
    margin-bottom: -94px;
  }
  85% {
    letter-spacing: 6px;
    margin-bottom: -94px;
  }
}
@keyframes slideDownText {
  0% {
    opacity: 0;
    transform: translateY(100%); /* Start from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-section {
  --scroll-length: 1.5;
  height: calc(var(--scroll-length) * 100vh);
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.main-section .content .subheading,
.main-section .content .para {
  opacity: 1;
  opacity: calc(1 + var(--viewport-y));
}

.fig {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  display: block;
  overflow: hidden;
}
.fig > img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.imgg {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.fig {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  display: block;
  overflow: hidden;
}
.fig > img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

picture {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
picture img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgg {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 35em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
  padding: 2em;
  font-size: 2.5vmin;
}
.content * {
  text-shadow: 0 0 4vmin rgba(0, 0, 0, 0.25);
}
.content > .content-header {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.content > .para {
  grid-row: 2/3;
  line-height: 1.5;
  font-size: 16px;
}

.main-heading {
  font-size: 2.75em;
  margin: 0;
}

.subheading {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.fig {
  --scale: calc(.8 +
  (.2 * var(--scroll-length) * var(--visible-y))
  );
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  will-change: transform;
  transform: scale(var(--scale));
}
.fig:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: calc(var(--visible-y));
}
.fig > img {
  display: block;
  will-change: transform;
  transform: scale(calc(1 / var(--scale)));
}

.char {
  display: inline-block;
  opacity: calc(1 + var(--viewport-y) * 1.5 - var(--char-percent));
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

.main-heading {
  font-weight: 700;
}

/************************************/
/*********Styling the Footer*********/
/************************************/
footer {
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: 60vh;
  background: linear-gradient(to right, rgb(61, 153, 189), skyblue);
  overflow: hidden;
  position: relative; /* Ensure it's positioned relative to its normal flow */
  display: flex; /* Use flexbox for layout */
  justify-content: space-around; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
  flex-wrap: wrap;
}

.footerlogo {
  width: 200px;
  height: 100px;
  margin-bottom: 15px;
}

.about_section h2 {
  position: absolute;
  top: 20%;
  left: 38%;
  color: white;
  font-size: 26px;
  font-weight: 500;
}
.about_section h2 span {
  display: none;
}
.about_section ul {
  position: absolute;
  top: 35%;
  left: 38%;
  color: white;
  font-size: 16px;
  line-height: 1.6;
}

.info_section h2 {
  position: absolute;
  top: 20%;
  left: 52%;
  color: white;
  font-size: 26px;
  font-weight: 500;
}
.info_section h2 span {
  display: none;
}
.info_section ul {
  position: absolute;
  top: 35%;
  left: 52%;
  color: white;
  font-size: 16px;
  line-height: 1.6;
}

.weee {
  transition: 0.8s;
}
.weee:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.footerpara {
  bottom: 10%;
}

.social h3 {
  font-size: 23px;
  position: absolute;
  top: 24%;
  left: 78%;
  font-weight: 500;
}
.social ul {
  position: absolute;
  top: 40%;
  left: 80%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}
.social ul li {
  margin: 0 35px;
}
.social ul li .fa {
  font-size: 30px;
  line-height: 60px;
  transition: 0.6s;
  color: #000;
}
.social ul li .fa:hover {
  color: #fff;
}
.social ul li a {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.social ul li a:hover {
  transform: translate(0, -10px);
}
.social ul li:nth-child(1) a:hover {
  background-color: #1362ca;
}
.social ul li:nth-child(2) a:hover {
  background-color: #1DA1F2;
}
.social ul li:nth-child(3) a:hover {
  background-color: #ec4765;
}
.social ul li:nth-child(4) a:hover {
  background-color: #0A66C2;
}
.social ul li:nth-child(5) a:hover {
  background-color: #000;
}

footer .about_section,
footer .info_section,
footer .social {
  position: static;
  width: auto;
  margin: 20px;
}

footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*This is the CSS for the wavy animation at the end*/
/*Using a background image and positioned it accordingly while adding the respective effects needed*/
footer .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}

/*There are a total of four waves and they are arranged seperately*/
/*They all have different z-indexes, opacities, animation time-delay and positions*/
footer .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

footer .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

footer .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

footer .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

/*Adding the necessary keyframes for the animation*/
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
@media screen and (max-width: 1000px) {
  header {
    width: 100%;
    padding: 0 20px;
  }
  nav {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 99;
    width: 280px;
    height: 100vh;
    background-color: skyblue;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  #check_nav:checked ~ nav {
    left: 0;
  }
  nav .logo {
    display: block;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  nav ul {
    display: block;
    padding: 0 5px;
    margin-top: 50px;
  }
  nav ul li a {
    margin-bottom: 20px;
    padding: 15px 25px;
    border-radius: 5px;
  }
  .lines {
    display: block;
  }
  .text-1 {
    font-size: 35px;
  }
  .text-2 {
    font-size: 33px;
  }
  .social h3 {
    font-size: 21px;
    top: 55%;
    left: 44%;
  }
  .social ul {
    top: 65%;
    left: 47%;
  }
  .social ul li .fa {
    font-size: 25px;
    line-height: 55px;
  }
  .social ul li a {
    width: 55px;
    height: 55px;
  }
  .about_section h2 {
    top: 16%;
    left: 47%;
  }
  .about_section ul {
    top: 26%;
    left: 47%;
  }
  .info_section h2 {
    top: 16%;
    left: 70%;
  }
  .info_section ul {
    top: 26%;
    left: 70%;
  }
  .footerpara {
    bottom: 22%;
  }
}
@media screen and (max-width: 800px) {
  .text-1 {
    font-size: 34px;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  .text-2 {
    font-size: 32px;
    letter-spacing: 1px;
  }
  .content-header {
    padding: 0;
  }
  .footerlogo {
    width: 160px;
    height: 75px;
    margin-left: 30px;
  }
  .social h3 {
    font-size: 18px;
    top: 56%;
    left: 40%;
  }
  .social ul {
    top: 66%;
    left: 44%;
  }
  .social ul li .fa {
    font-size: 20px;
    line-height: 50px;
  }
  .social ul li a {
    width: 50px;
    height: 50px;
  }
  .about_section h2 {
    top: 32%;
    left: 10%;
    font-size: 21px;
  }
  .about_section h2 span {
    display: inline;
    margin-left: 235px;
  }
  .about_section ul {
    display: none;
  }
  .info_section h2 {
    top: 42%;
    left: 10%;
    font-size: 21px;
  }
  .info_section h2 span {
    display: inline;
    margin-left: 175px;
  }
  .info_section ul {
    display: none;
  }
  .paraa {
    display: none;
  }
  .footerpara {
    bottom: 32%;
  }
}
@media screen and (max-width: 440px) {
  .navbar {
    padding: 0 18px;
  }
  .text-1 {
    font-size: 27px;
  }
  .text-2 {
    font-size: 25px;
  }
  .intro {
    padding-top: 10px;
    height: 200px;
  }
}
@media screen and (max-width: 340px) {
  .text-1 {
    font-size: 24px;
  }
  .text-2 {
    font-size: 22px;
  }
  .intro {
    height: 150px;
  }
  .navbar {
    padding: 0 14px;
  }
  .intro {
    padding-top: 0px;
  }
  footer {
    height: 75vh;
  }
  .about_section h2 {
    font-size: 17px;
  }
  .about_section h2 span {
    margin-left: 175px;
  }
  .about_section ul {
    display: none;
  }
  .info_section h2 {
    font-size: 17px;
  }
  .info_section h2 span {
    margin-left: 127px;
  }
  .info_section ul {
    display: none;
  }
  .social h3 {
    font-size: 17px;
    top: 56%;
    left: 40%;
  }
  .social ul {
    top: 66%;
    left: 44%;
  }
  .social ul li {
    margin: 0 28px;
  }
  .social ul li .fa {
    font-size: 20px;
    line-height: 46px;
  }
  .social ul li a {
    width: 45px;
    height: 45px;
  }
}/*# sourceMappingURL=style3.css.map */