@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 237, 237);
  height: 100%;
  font-family: Poppins;
}

/*******************************************************/
/******************** HEADER STYLES ********************/
/*******************************************************/
header {
  position: fixed;
  top: 0;
  background-color: skyblue;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  z-index: 1000;
}

.logo img {
  margin: 10px;
  width: 150px;
  height: 70px;
  background-color: skyblue;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: black;
  display: block;
  margin: 0 6px;
  font-weight: 600;
  padding: 10px 20px;
  transition: 0.2s;
  border-radius: 30px;
  font-size: 18px;
}
nav ul li a:hover {
  background-color: rgb(191, 229, 245);
}

nav ul li a.active {
  background-color: rgb(61, 153, 189);
  color: #fff;
}

nav .logo {
  display: none;
}

.lines {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.lines:hover {
  background: rgb(191, 229, 245);
}
.lines div {
  width: 30px;
  height: 3px;
  background: rgb(13, 126, 171);
  margin: 6px 0;
}

/*********************************************************/
/****************** MAIN SECTION STYLES ******************/
/*********************************************************/
/* This code snippet of a slider has been taken from a youtube video
that has been uploaded by the channel Lun Dev */
.slider {
  height: 90vh;
  position: relative;
  margin-top: 90px;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
  color: #fff;
}

.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 1.6;
}

.slider .list .item .content h2 {
  font-size: 55px;
  margin: 0;
  line-height: 1.3;
  width: 400px;
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(40px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.7s 0.9s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
  animation-delay: 1.2s;
}

.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.5s;
}

.btn {
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}

.btn button {
  background-color: rgba(238, 238, 238, 0.3333333333);
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: white;
  transition: 0.5s;
}
.btn button:hover {
  background-color: #eee;
  color: black;
}

.slides {
  position: absolute;
  bottom: 6%;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}

.slides::-webkit-scrollbar {
  width: 0;
}

.slides .item {
  width: 170px;
  height: 240px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}

.slides .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.slides .item.active {
  filter: brightness(1.3);
}

.display {
  padding-top: 45px;
  padding-bottom: 65px;
  width: 100%;
  background: rgb(191, 229, 245);
}

.reveal-type {
  font-size: 50px;
  text-align: center;
  color: black;
  letter-spacing: 6px;
  font-family: kalnia;
  font-weight: 500;
  text-shadow: 0px -1px 0 rgb(213, 213, 213), 0px -2px 0 rgb(213, 213, 213), 0px 11px 5px rgba(0, 0, 0, 0.3);
}

.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-card {
  width: 250px;
  height: 390px;
  border-radius: 20px;
  border: 8px solid #fff;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.movie-card:hover .card-content {
  right: 0;
}

.cardImg {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card-content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: rgba(31, 61, 71, 0.2196078431);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
}

.movie-name {
  font-size: 30px;
  color: #fff;
}

.movie-info {
  font-size: 15px;
  line-height: 20px;
  margin: 30px 0;
}

.movie-btn {
  color: #0c3745;
  background: rgb(191, 229, 245);
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 110px;
  transition: 0.5s;
}
.movie-btn:hover {
  background: rgb(61, 153, 189);
  color: #fff;
}

/* Styling the second main section of the page that
displays top ghibli music scores */
.music {
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(191, 229, 245), skyblue);
}
.music h2 {
  margin: 60px;
  text-align: center;
  text-shadow: 0px -1px 0 rgb(213, 213, 213), 0px -2px 0 rgb(213, 213, 213), 0px 11px 5px rgba(0, 0, 0, 0.3);
}
.music button {
  font-size: 24px;
  letter-spacing: 1px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid rgb(39, 99, 136);
  color: rgb(33, 80, 110);
  transition: 0.8s;
  margin-bottom: 30px;
  margin-top: 30px;
}
.music button:hover {
  color: #fff;
  transition: 1s;
  background: rgb(93, 161, 203);
  padding: 16px 32px;
  margin-bottom: 23px;
}

.ex {
  width: 170px;
  height: auto;
  margin-top: 30px;
}

.score1 {
  display: flex;
  width: 67%;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgb(39, 99, 136), rgb(93, 161, 203));
  margin-bottom: 50px;
  box-shadow: -8px 8px 6px rgba(0, 0, 0, 0.35);
}
.score1 img {
  margin: 20px;
  width: 210px;
  height: 210px;
  border-radius: 25px;
  transition: 1s;
}
.score1 img:hover {
  transform: scale(1.19);
  z-index: 2;
  border-radius: 16px 0 0 16px;
}
.score1 .cont {
  margin-top: 12px;
  padding: 20px;
  color: #fff;
  line-height: 2;
}
.score1 .cont h3 {
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 2px 0 black;
}

.score2 {
  display: flex;
  width: 67%;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgb(28, 109, 90), rgb(78, 184, 159));
  margin-bottom: 50px;
  box-shadow: -8px 8px 6px rgba(0, 0, 0, 0.35);
}
.score2 img {
  margin: 20px;
  width: 210px;
  height: 210px;
  border-radius: 25px;
  transition: 1s;
}
.score2 img:hover {
  transform: scale(1.19);
  z-index: 2;
  border-radius: 16px 0 0 16px;
}
.score2 .cont {
  margin-top: 12px;
  padding: 20px;
  color: #fff;
  line-height: 2;
}
.score2 .cont h3 {
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 2px 0 black;
}

/* Initially hide the score1 and score2 elements */
.score1 {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 2s ease, transform 2s ease;
}

.score2 {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 2s ease, transform 2s ease;
}

/* Animation for showing the elements */
.score1.show,
.score2.show {
  opacity: 1;
  transform: translateX(0);
}

audio {
  margin-top: 20px;
  height: 40px;
  width: 244px;
}

/***********************************************************/
/********************** FOOTER STYLES **********************/
/***********************************************************/
footer {
  position: relative;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to right, rgb(61, 153, 189), skyblue);
  overflow: hidden;
}

.footerlogo {
  width: 200px;
  height: 100px;
  margin-top: 35px;
  margin-left: 60px;
}

.about_section h2 {
  position: absolute;
  top: 20%;
  left: 38%;
  color: white;
  font-size: 26px;
  font-weight: 500;
}
.about_section h2 span {
  display: none;
}
.about_section ul {
  position: absolute;
  top: 35%;
  left: 38%;
  color: white;
  font-size: 16px;
  line-height: 1.6;
}

.info_section h2 {
  position: absolute;
  top: 20%;
  left: 52%;
  color: white;
  font-size: 26px;
  font-weight: 500;
}
.info_section h2 span {
  display: none;
}
.info_section ul {
  position: absolute;
  top: 35%;
  left: 52%;
  color: white;
  font-size: 16px;
  line-height: 1.6;
}

.footer_list_items {
  transition: 0.8s;
}
.footer_list_items:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.social h3 {
  font-size: 26px;
  position: absolute;
  top: 24%;
  left: 77%;
  font-weight: 500;
}
.social ul {
  position: absolute;
  top: 40%;
  left: 80%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}
.social ul li {
  margin: 0 35px;
}
.social ul li .fa {
  font-size: 26px;
  line-height: 56px;
  transition: 0.6s;
  color: #000;
}
.social ul li .fa:hover {
  color: #fff;
}
.social ul li a {
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.social ul li a:hover {
  transform: translate(0, -10px);
}
.social ul li:nth-child(1) a:hover {
  background-color: #1362ca;
}
.social ul li:nth-child(2) a:hover {
  background-color: #1DA1F2;
}
.social ul li:nth-child(3) a:hover {
  background-color: #ec4765;
}
.social ul li:nth-child(4) a:hover {
  background-color: #0A66C2;
}
.social ul li:nth-child(5) a:hover {
  background-color: #000;
}

/*This is the CSS for the wavy animation at the end*/
/*Using a background image and positioning it accordingly while adding the respective effects needed*/
footer .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}

/*There are a total of four waves and they are arranged seperately*/
/*They all have different z-indexes, opacities, animation time-delay and positions*/
footer .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

footer .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

footer .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

footer .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

/*Adding the necessary keyframes for the animation*/
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
/************************************************************************/
/***************************** MEDIA QUERIES ****************************/
/************************** FOR RESPONSIVENESS **************************/
/************************************************************************/
/* Media Queries for viewport width upto 1000px */
@media screen and (max-width: 1000px) {
  header {
    width: 100%;
    padding: 0 20px;
  }
  nav {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 99;
    width: 280px;
    height: 100vh;
    background-color: skyblue;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  #check_nav:checked ~ nav {
    left: 0;
  }
  nav .logo {
    display: block;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  nav ul {
    display: block;
    padding: 0 5px;
    margin-top: 50px;
  }
  nav ul li a {
    margin-bottom: 20px;
    padding: 15px 25px;
    border-radius: 5px;
  }
  .lines {
    display: block;
  }
  .social h3 {
    font-size: 21px;
    top: 60%;
    left: 44%;
  }
  .social ul {
    top: 70%;
    left: 47%;
  }
  .social ul li .fa {
    font-size: 25px;
    line-height: 55px;
  }
  .social ul li a {
    width: 55px;
    height: 55px;
  }
  .about_section h2 {
    top: 16%;
    left: 47%;
  }
  .about_section ul {
    top: 26%;
    left: 47%;
  }
  .info_section h2 {
    top: 16%;
    left: 70%;
  }
  .info_section ul {
    top: 26%;
    left: 70%;
  }
  .score1, .score2 {
    width: 75%;
  }
  audio {
    width: 190px;
    height: 37px;
    margin-top: 15px;
  }
  .score1 .cont h3, .score2 .cont h3 {
    font-size: 22px;
  }
}
/* Media Queries for viewport width upto 680px */
@media screen and (max-width: 680px) {
  .slides {
    justify-content: start;
    bottom: 1%;
  }
  .slider .list .item .content h2 {
    font-size: 40px;
  }
  .btn {
    top: 10%;
  }
  .reveal-type {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .display {
    padding-top: 25px;
  }
  .footerlogo {
    width: 160px;
    height: 75px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .social h3 {
    font-size: 18px;
    top: 56%;
    left: 40%;
  }
  .social ul {
    top: 66%;
    left: 44%;
  }
  .social ul li .fa {
    font-size: 20px;
    line-height: 50px;
  }
  .social ul li a {
    width: 50px;
    height: 50px;
  }
  .about_section h2 {
    top: 32%;
    left: 10%;
    font-size: 21px;
  }
  .about_section h2 span {
    display: inline;
    margin-left: 235px;
  }
  .about_section ul {
    display: none;
  }
  .info_section h2 {
    top: 42%;
    left: 10%;
    font-size: 21px;
  }
  .info_section h2 span {
    display: inline;
    margin-left: 175px;
  }
  .info_section ul {
    display: none;
  }
  .footerpara {
    display: none;
  }
  .music h2 {
    letter-spacing: 1px;
  }
  .score1 img, .score2 img {
    width: 150px;
    height: 150px;
  }
  .score1, .score2 {
    width: 85%;
  }
  .score1 .cont h3, .score2 .cont h3 {
    font-size: 16px;
  }
  .score1 .cont, .score2 .cont {
    padding: 8px;
  }
  .score1 .cont p, .score2 .cont p {
    font-size: 12px;
  }
  audio {
    width: 110px;
    height: 33px;
    margin-top: 10px;
  }
  .music button {
    font-size: 20px;
  }
  .ex {
    width: 130px;
  }
}
/* Media Queries for viewport width upto 380px */
@media screen and (max-width: 380px) {
  .music h2 {
    font-size: 26px;
  }
  .score1, .score2 {
    width: 100%;
    border-radius: 0;
  }
}
/* Media Queries for viewport width upto 330px */
@media screen and (max-width: 330px) {
  .slides .item {
    width: 100px;
    height: 150px;
  }
  .slides {
    height: 160px;
    padding: 0 30px;
  }
  .slider .list .item .content h2 {
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .slider .list .item .content p:nth-child(1) {
    font-size: 13px;
    letter-spacing: 4px;
  }
  .slider .list .item .content p:nth-child(3) {
    font-size: 13px;
  }
  .btn button {
    width: 30px;
    height: 30px;
  }
  footer {
    height: 75vh;
  }
  .about_section h2 {
    font-size: 17px;
  }
  .about_section h2 span {
    margin-left: 175px;
  }
  .about_section ul {
    display: none;
  }
  .info_section h2 {
    font-size: 17px;
  }
  .info_section h2 span {
    margin-left: 127px;
  }
  .info_section ul {
    display: none;
  }
  .social h3 {
    font-size: 17px;
    top: 56%;
    left: 40%;
  }
  .social ul {
    top: 66%;
    left: 44%;
  }
  .social ul li {
    margin: 0 28px;
  }
  .social ul li .fa {
    font-size: 20px;
    line-height: 46px;
  }
  .social ul li a {
    width: 45px;
    height: 45px;
  }
  .music h2 {
    letter-spacing: 4px;
  }
  .score1 .cont h3, .score2 .cont h3 {
    font-size: 14px;
  }
  .score1 .cont p, .score2 .cont p {
    font-size: 11px;
  }
  audio {
    height: 28px;
    width: 105px;
  }
  .score1 img, .score2 img {
    width: 130px;
    height: 130px;
    margin: 15px;
  }
  .music button {
    font-size: 16px;
  }
  .ex {
    width: 120px;
  }
}/*# sourceMappingURL=style2.css.map */